<!DOCTYPE html>
<html lang="en">
<head>
    <title>311 City Comparison</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <SCRIPT SRC="app.js"></SCRIPT>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */

        .row.content {height: 1800px}

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height: auto;}
        }
    </style>
</head>
<body data-ng-app ="app" ng-controller="MinCtrl">
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4 class="text-success">City Comparison</h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
                <li><a data-toggle="pill" href="#Kansas_City" data-ng-click="kcfunction()">Kansas City</a></li>
                <li><a data-toggle="pill" href="#new_York_City" data-ng-click="nyfunction()">New York City, NY</a></li>
                <li><a data-toggle="pill" href="#austin" data-ng-click="aufunction()">Austin, TX</a></li>
                <li><a data-toggle="pill" href="#baltimore">Baltimore, MD</a></li>
                <li><a data-toggle="pill" href="#baton_Rouge" data-ng-click="bafunction()">Baton Rouge, LA</a></li>
                <li><a data-toggle="pill" href="#boston" data-ng-click="bsfunction()">Boston, MA</a></li>
                <li><a data-toggle="pill" href="#chattanooga" data-ng-click="ctfunction()">Chattanooga, TN</a></li>
                <li><a data-toggle="pill" href="#chicago">Chicago, IL</a></li>
                <li><a data-toggle="pill" href="#gainesville">Gainesville, FL</a></li>
                <li><a data-toggle="pill" href="#houston">Houston, TX</a></li>
                <li><a data-toggle="pill" href="#johns_Creek">Johns Creek, GA</a></li>
                <li><a data-toggle="pill" href="#las_Vegas">Las Vegas, NV</a></li>
                <li><a data-toggle="pill" href="#los_Angeles">Los Angeles, CA</a></li>
                <li><a data-toggle="pill" href="#louisville">Louisville, KY</a></li>
                <li><a data-toggle="pill" href="#minneapolis">Minneapolis, MN</a></li>
                <li><a data-toggle="pill" href="#new_Orleans">New Orleans, LA</a></li>
                <li><a data-toggle="pill" href="#philadelphia">Philadelphia, PA</a></li>
                <li><a data-toggle="pill" href="#pittsburgh">Pittsburgh, PA</a></li>
                <li><a data-toggle="pill" href="#sacramento">Sacramento, CA</a></li>
                <li><a data-toggle="pill" href="#san_Diego">San Diego, CA</a></li>
                <li><a data-toggle="pill" href="#san_Francisco">San Francisco, CA</a></li>
                <li><a data-toggle="pill" href="#washington">Washington, DC</a></li>
                <li><a data-toggle="pill" href="#ann_Arbor">Ann Arbor, MI</a></li>
                <li><a data-toggle="pill" href="#asheville">Asheville, NC</a></li>
                <li><a data-toggle="pill" href="#cincinnati">Cincinnati, OH</a></li>
                <li><a data-toggle="pill" href="#jersey_City">Jersey City, NJ</a></li>
                <li><a data-toggle="pill" href="#salt_Lake_City">Salt Lake City, UT</a></li>
                <li><a data-toggle="pill" href="#santa_Monica">Santa Monica, CA</a></li>
                <li><a data-toggle="pill" href="#st_Louis">St. Louis, MO</a></li>
                <li><a data-toggle="pill" href="#oakland">Oakland, CA</a></li>
                <li><a data-toggle="pill" href="#san_Jose">San Jose, CA</a></li>
                <li><a data-toggle="pill" href="#charlotte">Charlotte, NC</a></li>
                <li><a data-toggle="pill" href="#denver">Denver, CO</a></li>
                <li><a data-toggle="pill" href="#grand_Rapids">Grand Rapids, MI</a></li>
                <li><a data-toggle="pill" href="#providence">Providence, RI</a></li>
                <li><a data-toggle="pill" href="#san_Antonio">San Antonio, TX</a></li>
                <li><a data-toggle="pill" href="#ferndale">Ferndale, MI</a></li>
                <li><a data-toggle="pill" href="#albuquerque">Albuquerque, NM</a></li>
                <li><a data-toggle="pill" href="#birmingham">Birmingham, AL</a></li>
                <li><a data-toggle="pill" href="#portland">Portland, OR</a></li>
            </ul><br>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">

                <div id="home" class="tab-pane fade in active">
                </div>
                <!--Kansas city-->
                <div id="Kansas_City" class="tab-pane fade" >
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Kansas City</h2>
                        <div class="text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in kcvalue | limitTo : 7  : 4">
                                        <td>{{x.creation_year}}</td>
                                        <td>{{x.count_case_id}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> Population</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in population">
                                        <td>{{x.Year}}</td>
                                        <td>{{x.Kansas_City}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="kc_chart1" style="margin-left: 110px"></div>
                        <div id="kc_chart2" style="margin-left: 110px"></div>
                    </div>
                </div>

                <!--New York City, NY-->
                <div id="new_York_City" class="tab-pane fade">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">New York City</h2>
                        <div class="text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in nycvalue | limitTo : 7 ">
                                        <td>{{x.date_extract_y_created_date}}</td>
                                        <td>{{x.count_unique_key}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> Population</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in population">
                                        <td>{{x.Year}}</td>
                                        <td>{{x.NewYork_City}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ny_chart1" style="margin-left: 110px"></div>
                        <div id="ny_chart2" style="margin-left: 110px"></div>
                    </div>
                </div>


                <!--Austin, TX-->
                <div id="austin" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Austin City</h2>
                        <div class="text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in auvalue | limitTo : 6 ">
                                        <td>{{x.year}}</td>
                                        <td>{{x.count_sr_number}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> Population</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in population">
                                        <td>{{x.Year}}</td>
                                        <td>{{x.Austin}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="au_chart1" style="margin-left: 110px"></div>
                        <div id="au_chart2" style="margin-left: 110px"></div>
                    </div>
                </div>

                <!--Baltimore, MD-->
                <div id="baltimore" class="tab-pane fade ">
                    <h6>Unable to extract date from the data column</h6>
                </div>

                <!--Baton Rouge, LA-->
                <div id="baton_Rouge" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Baton Rouge</h2>
                        <div class="text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in bavalue | limitTo : 6 ">
                                        <td>{{x.year}}</td>
                                        <td>{{x.count_id}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> Population</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in population">
                                        <td>{{x.Year}}</td>
                                        <td>{{x.Baton_Rouge}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ba_chart1" style="margin-left: 110px"></div>
                        <div id="ba_chart2" style="margin-left: 110px"></div>
                    </div>

                </div>

                <!--Boston , MA-->
                <div id="boston" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Boston City</h2>
                        <div class="text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{2010}}</td>
                                        <td>{{bsvalue2010}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2011}}</td>
                                        <td>{{bsvalue2011}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2012}}</td>
                                        <td>{{bsvalue2012}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2013}}</td>
                                        <td>{{bsvalue2013}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2014}}</td>
                                        <td>{{bsvalue2014}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2015}}</td>
                                        <td>{{bsvalue2015}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{2016}}</td>
                                        <td>{{bsvalue2016}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> Population</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in population">
                                        <td>{{x.Year}}</td>
                                        <td>{{x.Boston}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="bs_chart1" style="margin-left: 110px"></div>
                        <div id="bs_chart2" style="margin-left: 110px"></div>
                    </div>
                </div>

                <!--Chattanooga, TN-->
                <div id="chattanooga" class="tab-pane fade ">
                    <div class="row">
                        <h2 class="page-header text-center text-primary">Chattanooga City</h2>
                        <div class="text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> No. of requests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in ctvalue | limitTo : 7 : 7 ">
                                        <td>{{x.year}}</td>
                                        <td>{{x.count_description}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-primary table-bodered text-primary text-center">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center">year</th>
                                        <th style="text-align: center"> Population</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in population">
                                        <td>{{x.Year}}</td>
                                        <td>{{x.Chattanooga}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ct_chart1" style="margin-left: 110px"></div>
                        <div id="ct_chart2" style="margin-left: 110px"></div>
                    </div>
                </div>

                <!--Chicago, IL-->
                <div id="chicago" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Gainesville, FL-->
                <div id="gainesville" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Houston, TX-->
                <div id="houston" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Johns Creek, GA-->
                <div id="johns_Creek" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Las Vegas, NV-->
                <div id="las_Vegas" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Los Angeles, CA-->
                <div id="los_Angeles" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Louisville, KY-->
                <div id="louisville" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Minneapolis, MN-->
                <div id="minneapolis" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--New Orleans, LA-->
                <div id="new_Orleans" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Philadelphia, PA-->
                <div id="philadelphia" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Pittsburgh, PA-->
                <div id="pittsburgh" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Sacramento, CA-->
                <div id="sacramento" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--San Diego, CA-->
                <div id="san_Diego" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--San Francisco, CA-->
                <div id="san_Francisco" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Washington, DC-->
                <div id="washington" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Ann Arbor, MI-->
                <div id="ann_Arbor" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Asheville, NC-->
                <div id="asheville" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Cincinnati, OH-->
                <div id="cincinnati" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Jersey City, NJ-->
                <div id="jersey_City" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Salt Lake City, UT-->
                <div id="salt_Lake_City" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Santa Monica, CA-->
                <div id="santa_Monica" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--St. Louis, MO-->
                <div id="st_Louis" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Oakland, CA-->
                <div id="oakland" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--San Jose, CA-->
                <div id="san_Jose" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Charlotte, NC-->
                <div id="charlotte" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Denver, CO-->
                <div id="denver" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Grand Rapids, MI-->
                <div id="grand_Rapids" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Providence, RI-->
                <div id="providence" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--San Antonio, TX-->
                <div id="san_Antonio" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Ferndale, MI-->
                <div id="ferndale" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Albuquerque, NM-->
                <div id="albuquerque" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Birmingham, AL-->
                <div id="birmingham" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>

                <!--Portland, OR-->
                <div id="portland" class="tab-pane fade ">
                    <p><span class="badge">2</span> Comments:</p><br>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="container-fluid">
    <p>Footer Text</p>
</footer>

</body>
</html>
